Bibliografia:

https://www.kaggle.com/code/philculliton/nlp-getting-started-tutorial/notebook

https://tatianaesc.medium.com/machine-learning-conceitos-e-modelos-f0373bf4f445

In [8]:
import numpy as np
import pandas as pd
from sklearn import feature_extraction, linear_model, model_selection, preprocessing
from nltk.sentiment import SentimentIntensityAnalyzer

In [11]:
from nltk.stem import WordNetLemmatizer

In [4]:
train_df = pd.read_csv("train.csv")
test_df = pd.read_csv("test.csv")

In [5]:
test_df.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

In [6]:
train_df[train_df["target"] == 0]["text"].values[1]

'I love fruits'

In [7]:
train_df[train_df["target"] == 1]["text"].values[1]

'Forest fire near La Ronge Sask. Canada'

**Analizador de sentimentos pr√©-treinado do NLTK (VADER)**

In [9]:
sia = SentimentIntensityAnalyzer()
sia.polarity_scores(train_df[train_df["target"] == 1]["text"].values[1])

{'neg': 0.286, 'neu': 0.714, 'pos': 0.0, 'compound': -0.34}

In [10]:
sia.polarity_scores(train_df[train_df["target"] == 0]["text"].values[1])

{'neg': 0.0, 'neu': 0.192, 'pos': 0.808, 'compound': 0.6369}